<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>

    <settings>
        <!-- 스네이크 케이스를 CamelCase로 자동 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="BoardDTO" type="com.ohboon.ohboon.dto.BoardDTO"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver"/>
                <property name="url" value="jdbc:mariadb://localhost:3306/ohboon"/>
                <property name="username" value="ohboon"/>
                <property name="password" value="123987"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="board.xml"/>
    </mappers>
</configuration>