<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta2402.mybatis">

    <insert id="signup" parameterType="UserDto">
        INSERT INTO user values(
            #{email}, #{nickname}, #{username}, #{birth},
            #{phone}, true, #{userPW}, #{grade}, null, #{profile}, #{createDate}
        )
    </insert>

    <select id="emailCheck" resultType="int" parameterType="String">
        Select count(*) as total from user where email = #{email}
    </select>

    <select id="nicknameCheck" resultType="int" parameterType="String">
        Select count(*) as total from user where nickname = #{nickname}
    </select>

    <select id="loginUser" resultType="UserDto" parameterType="UserDto">
        select * from user where email = #{email}
    </select>

    <select id="infoUser" resultType="UserDto" parameterType="UserDto">
        select * from user where nickname = #{nickname}
    </select>


</mapper>