
.error-404 {
    /*background-image: url("../images/image_404_error.png");*/
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.error-404 a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.error-500 {
    /*background-image: url("../images/image_500_error.png");*/
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.error-500 a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.content {
    /*줄바꿈 자동 인식*/
    white-space: pre-line;
}
.ck-editor__main .ck-content {
    height: 300px;
}

.step2 {
    padding-left: 20px;
}
.step3 {
    padding-left: 40px;
}
.step4 {
    padding-left: 60px;
}

#preview img {
    width: 100px;
    height: 100px;
    aspect-ratio: auto;
    object-fit: contain;
}
.profile {
    border-radius: 100px;
    width: 38px !important;
    height: 50px;
    object-fit: cover;
    overflow: hidden;
}

.table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Make the container take the full width */
    margin-left: auto;
    margin-right: auto;
}

.user-table {
    border: 2px solid black; /* Border color for the entire table */
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.user-table th, .user-table td {
    border: 1px solid black; /* Border color for each cell */
    padding: 8px;
    margin-inside: 3px;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 3px; /* Slight space between label and input */
    min-width: 40px; /* Increased width to avoid overlapping */
}

.form-group select {
    width: 120px; /* Adjust width as needed */
    padding-right: 5px; /* Ensure the text inside select is not cut off */
}

.user-grade-container {
    display: flex;
    flex-direction: column;
}

.user-grade-container .current-grade,
.user-grade-container .form-group {
    margin-bottom: 10px;
}